/*
 * JS首页 CSS
 *
 * @author wenjie
 * @since 08.25.2015
 * @version 1.0.0
 * @lastUpdatedBy Zhao Wenjie at 08.25.2015
 */
#menu #menu-javaScript{
	border-bottom: 3px solid #428bca;
	color: #428bca;
}
.main-content{
	padding: 0px 0;
}
.grid {
	max-width: 1150px;
}
.grid figure {
	min-width: 300px;
	max-width: 360px;
	max-height: 230px;
}