/*
 * base css
 *
 * @author wenjie
 * @since 2016年8月8日11:10:01;
 * @version 1.0.0
 * @lastUpdatedBy Zhao Wenjie at 2016年8月8日11:10:05;
 */
.center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}