/*
 * 首页 CSS
 *
 * @author wenjie
 * @since 07.20.2015
 * @version 1.0.0
 * @lastUpdatedBy Zhao Wenjie at 07.20.2015
 */
#menu #menu-index{
	border-bottom: 3px solid #428bca;
    color: #428bca;
}
.page-header{
  margin-top: 0;
  position: absolute;
  width: 100%;
  padding: 100px 100px;
}
.banner{
}
.banner1{
	background-image:linear-gradient(120deg, #FF6600 , #FFCC00);
	display: none;
}
.banner2{
	background-image:linear-gradient(120deg, #006600 , #00CC00);
}
.banner3{
	background-image:linear-gradient(120deg, #9900CC , #99CCCC);
}
.banner4{
	background-image:linear-gradient(120deg, #CC9900 , #CCFF00);
}
.main-content{
	margin-top: 350px;
}